@model IEnumerable<NewSmiteToolkit.Models.God>

@{
    ViewBag.Title = "All Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />

<div>
    <div class="container" style="text-align: center">
        <div class="row">
            @foreach (var god in Model)
            {
                if (god.Name.Equals("Gilgamesh"))  // Gilgamesh is new and has no data
                {
                    continue;
                }
                <div class="col-xs-3" style="padding-bottom:12px">
                    <a href="@Url.Action("Details", "God", new { id = god.id })">
                        <img src="@god.godIcon_URL" style="width: 100px; height: auto; border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 10px" />
                    </a>
                    <br />
                    -- @god.Name --<br />
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />
