@{
    ViewBag.Title = "About The SMITE Toolkit";
}

<br />

<h1 class="text-center">@ViewBag.Title.</h1>

<hr />

<div class="text-center">
    The SMITE Toolkit was created by Christopher Newport University student, Andrew Bell, for his senior capstone project.<br />
    The website was created with one simple goal &ndash; provide the SMITE gaming community with tools and data that help players improve their own gameplay!<br />
    <br />
    I hope you enjoy!
    <br />
    <br />
    <br />
    <br />
    Got any questions or concerns?
    <a href="mailto: andrew.bell.18@cnu.edu">Send an email to the developer!</a>
</div>
