@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Avenue of the Arts<br />
    Newport News, VA 23606<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:andrew.bell.18@cnu.edu">Andrew.Bell.18@cnu.edu</a><br />
</address>