@{
    ViewBag.Title = "Home Page";
}

    <div class="well-lg" style="color: black; background-color: rgb(157, 157, 157) ; margin-top: 10px">
        <h1>The SMITE Toolkit</h1>
        <p class="lead">
            The SMITE Toolkit is a collection of powerful tools designed to give you the upper-hand in battle and provide the newest and hottest builds and
            guides so that you can crush the competition!
        </p>
        <p><a href="https://www.smitegame.com/" class="btn btn-primary btn-lg">Learn more about SMITE! &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Detailed Information</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi lectus. Fusce vulputate, orci ac convallis tristique, ex nisi laoreet arcu,
            ac efficitur sapien dui id ante. Proin fringilla sem ac arcu lacinia consequat. Sed augue diam, facilisis a molestie eu, venenatis sed tortor. Duis vel posuere arcu.
            Sed vehicula justo id porttitor egestas. Aliquam vitae dolor ullamcorper, varius sem sit amet, commodo enim. Aliquam bibendum odio eu tellus commodo interdum.
            Vestibulum ultricies mauris massa, eget luctus diam facilisis at.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "God")">Check It Out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The SMITE Spy Tool</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi lectus. Fusce vulputate, orci ac convallis tristique, ex nisi laoreet arcu,
            ac efficitur sapien dui id ante. Proin fringilla sem ac arcu lacinia consequat. Sed augue diam, facilisis a molestie eu, venenatis sed tortor. Duis vel posuere arcu.
            Sed vehicula justo id porttitor egestas. Aliquam vitae dolor ullamcorper, varius sem sit amet, commodo enim. Aliquam bibendum odio eu tellus commodo interdum.
            Vestibulum ultricies mauris massa, eget luctus diam facilisis at.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "SpyTool")">Check It Out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Player Search Tool</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi lectus. Fusce vulputate, orci ac convallis tristique, ex nisi laoreet arcu,
            ac efficitur sapien dui id ante. Proin fringilla sem ac arcu lacinia consequat. Sed augue diam, facilisis a molestie eu, venenatis sed tortor. Duis vel posuere arcu.
            Sed vehicula justo id porttitor egestas. Aliquam vitae dolor ullamcorper, varius sem sit amet, commodo enim. Aliquam bibendum odio eu tellus commodo interdum.
            Vestibulum ultricies mauris massa, eget luctus diam facilisis at.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "PlayerSearch")">Check It Out! &raquo;</a></p>
    </div>
</div>