
@{
    ViewBag.Title = "The SMITE Spy Tool!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1 class="text-center">Welcome to the SMITE Spy Tool!</h1>

<hr />

<div class="text-center">
    The Smite Spy tool is designed to be used in-game to provide real-time analysis of your teammates and opponents!<br />
    Simply enter your username and platform, the gamemode you are playing, and the time since the match started and hit submit!
    <br /><br />
    NOTE: If you play on PC and are unsure of your platform, most of the time the platform will be 'HiRez', even if you play on Steam.
    <br />
    NOTE: The 'time since match started' is the time since your match began, NOT the time shown on the in-game clock.
    <br />
    NOTE: This tool will not be able to view data for players with private accounts.
    <br />
    NOTE: The 'recent match' table may not fit properly on some small devices.
</div>

<hr />

<form action="~/SpyTool/Results" style="margin: 0 auto; text-align: center">

    <div class="form-group">
        <label for="username-input">Username:</label><br />
        <input type="text" class="form-control" id="username-input" name="username" placeholder="Enter Username/Gamertag" style="color: black">
    </div>

    <div class="form-group">
        <label for="platform-select">Platform:</label><br />
        <select class="form-control" id="platform-select" name="platform" style="color: black">
            <option selected disabled>--Please choose an option--</option>
            <option>HiRez</option>
            <option>Xbox</option>
            <option>PSN</option>
            <option>Switch</option>
            <option>Steam</option>
            <option>Epic</option>
        </select>
    </div>

    <div class="form-group">
        <label for="gamemode-select">Gamemode:</label><br />
        <select class="form-control" id="gamemode-select" name="gamemode" style="color: black">
            <option selected disabled>--Please choose an option--</option>
            <option>Conquest</option>
            <option>Joust</option>
            <option>Arena</option>
            <option>Assault</option>
            <option>Clash</option>
            <option>MOTD</option>
        </select>
    </div>

    <div class="form-group">
        <label for="minute-input">Time Since Match Started (In Minutes):</label><br />
        <input type="number" class="form-control" id="minute-input" name="minutesBehind" placeholder="Enter 0 if Game Just Began" style="color: black">
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<br />

