
@{
    ViewBag.Title = "Player Search!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1 class="text-center">Welcome to the Player Search tool!</h1>

<hr />

<div class="text-center">
    The Player Search tool can be used to find useful and interesting information on yourself or other players!<br />
    Simply enter the username and platform of the player that you'd like to search for and hit submit!
    <br /><br />
    NOTE: If you play on PC and are unsure of your platform, most of the time the platform will be 'HiRez', even if you play on Steam.
    <br />
    NOTE: This tool will not be able to view data for players with private accounts.
    <br />
    NOTE: The 'recent match' table may not fit properly on small devices.

</div>

<hr />

<form action="~/PlayerSearch/PlayerDetails" style="margin: 0 auto; text-align: center">

    <div class="form-group">
        <label for="username-input">Username:</label><br />
        <input type="text" class="form-control" id="username-input" name="username" placeholder="Enter Username/Gamertag" style="color: black">
    </div>

    <div class="form-group">
        <label for="platform-select">Platform:</label><br />
        <select class="form-control" id="platform-select" name="platform" style="color: black">
            <option selected disabled>--Please choose an option--</option>
            <option>HiRez</option>
            <option>Xbox</option>
            <option>PSN</option>
            <option>Switch</option>
            <option>Steam</option>
            <option>Epic</option>
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

</form>