
@{
    ViewBag.Title = "Error";
}

<style>
    button[aria-expanded=true] .glyphicon-chevron-down {
        display: none;
    }

    button[aria-expanded=false] .glyphicon-chevron-up {
        display: none;
    }
</style>

<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 class="text-danger">Oops! We Can't Do That Right Now!</h1>
    <h2 class="text-danger">An error occurred while processing your request :(</h2>

    <br /><br /><br /><br />

    <button class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#errorMessage" aria-expanded="false">
        <b>DEV: Click here for more info</b>
        <span style="vertical-align: middle">
            <i class="glyphicon glyphicon-chevron-down"></i>
            <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
    </button>

    <br />
    <br />
    <br />

    <div class="collapse" id="errorMessage">
        @ViewBag.Message
    </div>
</div>
